/.idea/
/examples/next-demo/node_modules/
/examples/next-demo/app/.next/
/node_modules/
/packages/node/node_modules/
/packages/web/node_modules/
/examples/express-demo/node_modules/

/examples/next-demo/.next/
/coverage/
/packages/node/dist/
